<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="UltraERPContext" connectionString="990CD8D242D8A4250DBA2D1E403E523189BB35A3C4ADD9100704EE9807AEC7774567E0737379C4C158F2E8A83494B66AE8EF49D82E096C9AB026532AB49F3E4447B00B285F8FE597287BC05501021E7E568A72B9845EFE5E242C3E0E328E5B9D54AA8C4A12E9F249740C042F1E7577BDA04E2F9AE0E99ED48FC6BC801C1A8BDA6CA173A8B65C65DDB7B494AEB8DE8A46" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">--><!--
    <defaultConnectionFactory type="Ultra.WLSys.ERP.Entity, DbFac">
      --><!--<parameters>
        <parameter value="v11.0" />
      </parameters>--><!--
    </defaultConnectionFactory>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
